
  <div id="loginBG" class="flex flex-col justify-center items-center">
    <p-card [style]="{width: '360px',background:'rgb(255, 255, 255,.4)' }" class="blurClass mt-8" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
        <svg-icon [svgStyle]="{width:350,height:380}" src="../../assets/images/AROSAJE_logo.svg"></svg-icon>
      </ng-template>
      <div class="flex flex-col items-center justify-center loginContainerBlur">
        <span class="mb-4 p-input-icon-right">
          <i class="pi pi-user"></i>
           <input  type="text" placeholder="Identifiant"  pInputText [(ngModel)]="identifiedUser" />
        </span>
        <span>
           <p-password placeholder="Mot de passe" [toggleMask]="true" [(ngModel)]="passwordUser"></p-password>
        </span>
        <p-button (click)="login()" [style]="{background:'rgba(39,150,60,0.7)',border:'none'}" class="mt-4" label="Se connecter" icon="pi pi-sign-in" iconPos="right"></p-button>
      </div>
    </p-card>
  </div>
